@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: 'Jura', sans-serif;
}

html {
    font-size: 62.5%;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-btn {
    position: absolute;
    bottom: 3rem;
    width: 13rem;
    height: 13rem;
    background-color: #9b0e0e;
    border-radius: 50%;
    border: .2rem dotted #ffff;
    padding: 0.1rem;
    overflow: hidden;
}

.main-btn-content {
    width: 100%;
    height: 100%;
    border: .2rem dotted #e7be08;
    border-radius: 50%;
    transform: rotate(40deg);
    transition: transform .2s.5s, border .2s;
}

.main-btn:hover .main-btn-content {
    transform: rotate(60deg);
    border: .2rem dotted #9b0e0e;
    transition: transform .2s.5s, border .2s;
}

.main-btn-line {
    position: absolute;
    top: 4rem;
    width: 3rem;
    height: .5rem;
    border: .1rem solid #ffff;
}

.main-btn-line:nth-child(1) {
    transform: rotateZ(-45deg) translateX(-.65rem);
    transform-origin: left center;
    border-right: none;
}

.main-btn-line:nth-child(2) {
    transform: rotateZ(45deg) translateX(.65rem);
    transform-origin: right center;
    border-left: none;
}

.main-btn-line:nth-child(3) {
    transform: rotateZ(90deg) translateX(.5rem);
    transform-origin: center;
    border-left: none;
}

.main-btn span {
    position: absolute;
    bottom: 3rem;
    color: #ffff;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.ripple {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e7be08;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rippleAnim 0.5s forwards;
}

@keyframes rippleAnim {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 210%;
        height: 210%;
    }
}
/* End of Common Styles */

/*  Mouse  */
.mouse-circle,
.mouse-dot {
    border-radius: 50%;
    position: fixed;
    z-index:300;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}

.mouse-circle {
    width: 7rem;
    height: 7rem;
    border: 0.2rem solid #c7a622;
    animation: mouseCircleAnim 10s infinite linear;
}

@keyframes mouseCircleAnim{
    0% {
        width: 7rem;
        height: 7rem;
    }
    25% {
        width: 8rem;
        height: 8rem;
    }
    35% {
        width: 4rem;
        height: 4rem;
    }
    70% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 7rem;
        height: 7rem;
    }
}

.mouse-dot {
    width:.7rem;
    height: .7rem;
    background-color: #9b0e0e;
    animation: mouseDotAnim 11s infinite linear;
}

@keyframes mouseDotAnim {
    0% {
        width: .7rem;
        height: .7rem;
    }
    55% {
        width: 1.5rem;
        height: 1.5rem;
    }
    100% {
        width: .7rem;
        height:.7rem;
    }
}
/* End of Mouse */

/* Page Background */

.page-background {
    position: fixed;
    width: 100%;
    height:100vh;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url(images/bg.jpg)center no-repeat;
    background-size: cover;
}

/* End of Page Background */

/* Section 1 */
.section-1 {
    position: relative;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo */

.logo {
    position: absolute;
    top: 2rem;
    left: 5rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}

/* End of Logo */
/* Animated Circles */

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.circle {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    background-color: #9b0e0e;
    align-self: center;
    justify-self: center;
    opacity: 0.5;
    position: relative;
    top: 0;
    left: 0;
    transition: left 2s, top 2s;
}

.circle-1 {
    background: url(images/landing/circle-1-img.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.5rem dotted #a14b1a;
    margin-left: -10rem;
}

.circle-2 {
    background: url(images/landing/circle-2-img.jpg);
    background-size: cover;
    background-clip: content-box;
    border: 0.5rem dashed #ffbd07;
    margin-right: -10rem;
}

.circle-3 {
    background: url(images/landing/circle-3-img.jpg);
    background-size: cover;
    background-clip: content-box;
    border: 1rem double #9b0e0e;
    margin-left: -10rem;
}

.circle-4 {
    background: url(images/landing/circle-4-img.jpg);
    background-size: cover;
    background-clip: content-box;
    border: 0.8rem dotted #a14b1a;
    margin-right: -10rem;
}

.main-circle {
    width: 55rem;
    height: 55rem;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    transition: width .2s, height .2s;
}

.main-circle:hover {
    width: 75rem;
    height: 75rem;
}

.main-circle img {
    mix-blend-mode: color-dodge;
    transition: left 2s, top 2s;
    top: 0;
    left: 0;
    position: relative;
}

/* End of Circles */

/* Featured Text */
.featured-text {
    font-size: 2rem;
    color: #ffff;
    text-transform: uppercase;
    width: 0;
    word-wrap: break-word;
    line-height: 3;
    position: sticky;
    top: 0;
}

.featured-text-1 {
    margin: 0 auto 0 10rem;
}

.featured-text-2 {
    margin: 0 10rem 0 auto;
}
/* End of Featured Text */


/* End of Section 1 */

/* Section 2 */
.section-2 {
    position: relative;
    padding: 10rem 10rem 15rem 10rem;
}

.section-2-heading {
    font-size: 2rem;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 10rem;
    transform: translateY(-50%);
    width: 0;
    word-break: break-all;
    line-height: 4;
}

.about-me-text {
    width: 80%;
    margin: auto;
}

.about-me-text span {
    font-family: "Poppins", sans-serif;
    font-size: 15rem;
    font-weight: bold;
    color: #aaaa;
    letter-spacing: .5rem;
    line-height: .9;
    text-shadow: 0 0 1rem #9b0e0e;
    position: relative;
    mix-blend-mode: color-dodge;
}

@keyframes aboutMeTextAnim {
    0% {
        color: #aaaaaa;
        top: 0;
    }
    10%,
    90% {
        color: #ffff;
        top: 2rem;
    }
    100% {
        color: #777777;
        top: 0;
    }
}
.section-2 .main-btn {
    left: 50%;
    bottom: -5rem;
    transform: translateX(-50%);
}
/* section 3 */
.section-3 {
    width: 100%;
    height: 100%;
    padding: 20rem 0 10rem 0;
    position: relative;

}



/* end section 3 */







